.wrapper {
	width: 50%;
}

.csv-input-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 40vh;
}

.output-container {
	margin-top: 1em;
	width: 100%;
	border: 1px solid black;
}

#csv-input {
	height: 100%;
}
