.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
}

.container {
	width: 100%;
}

.left-container {
	display: flex;
	flex-direction: column;

	gap: 1em;
}

.csv-input-container,
.clipboard-raw-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 40vh;
}

.output-container {
	margin-top: 1em;
	width: 100%;
	border: 1px solid black;
}

.wrapper ::deep .csv-input {
	height: 100%;
}

.csv-input,
#raw-output {
	height: 100%;
}

.csv-table tbody {
	height: 1px;
}

.csv-table th,
.csv-table td {
	vertical-align: text-top;
	text-align: start;
}

.csv-table div {
	display: flex;
	align-items: flex-start;

	height: 100%;
	width: 100%;

	padding: 0.25em;
}

.cell-tags {
	flex-direction: column;
}
